# Servidor HTTP
HTTP_PORT=8080

# Conexão Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Limite por IP (Padrão: 5 requisições/segundo, bloqueio por 300s / 5min)
RATE_LIMIT_IP_MAX_REQUESTS=5
RATE_LIMIT_IP_BLOCK_DURATION_SECONDS=300

# Limite por Token (Padrão: 10 requisições/segundo, bloqueio por 300s / 5min)
RATE_LIMIT_TOKEN_MAX_REQUESTS=10
RATE_LIMIT_TOKEN_BLOCK_DURATION_SECONDS=300
